<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"~CCC
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAu9LmjpykYJpN-H8dF0MUPBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRcOvHkx9DRw66otdekobHl6_r8xQ" type="text/javascript"></script>
    
    
    <%=javascript_include_tag 'prototype','application'%>
  	 
   <-- <%=stylesheet_link_tag 'style'%> -->

</head>
<body id="body" class="bottombar-off">
  	
  	
<!-- <div id="map"></div> -->
  
   	<div id="map-wrapper">
  		<div id="map"></div>
  	</div> 
  
  
  	<div id="toolbar">
	  		<%= image_tag "vayuu_on_transp_white.png"%>
	  		
	  		<div id="text-toolbar">
	  		
	  		<!--
	  		<%= link_to_function 'Hide Reviews',"Element.addClassName('body','sidebar-off')", {:id=>'button-sidebar-hide'}%>
	  		<%= link_to_function 'Show Reviews',"Element.removeClassName('body','sidebar-off')", {:id=>'button-sidebar-show'}%>
	  		-->
	  		
	  		<%= link_to_function 'Hide Reviews',"Element.addClassName('body','bottombar-off')", {:id=>'button-sidebar-hide'}%>
	  		<%= link_to_function 'Show Reviews',"Element.removeClassName('body','bottombar-off')", {:id=>'button-sidebar-show'}%>
	  		
	  		
	  		</div>
	  		
	  		
  	</div>
  	
	<!--
	<div id="sidebar">
	   		<p>Airport Reviews go in here...blah ..blah..blah ... </p>
  	</div>
  	-->
  	
  	
  	<div id="bottombar">
		   	<h3>Airport Reviews</h3>
  	</div>
  	
 
 
     		
</body>
</html>