<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"~CCC
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAu9LmjpykYJpN-H8dF0MUPBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRcOvHkx9DRw66otdekobHl6_r8xQ" type="text/javascript"></script>
    
    
    <%=javascript_include_tag 'prototype','application'%>
    <!--
	<script type="text/javascript">

	var markers=<%=@airportdots.to_json%>;

    </script> 
	-->
	 
    <%=stylesheet_link_tag 'style'%>

</head>
<body>
<form action="" onsubmit="createSingleReview(); return false;">
  <p><b>Pilot Name: </b> <br>
    <input type="text" id="pilotname" name="pilotname" size="50">
  </p>
  <p><b>Airport:</b><br>
    <input type="text" id="airportcode" name="airportcode" size="8" maxlength="4">
  </p>
  <p><b>Review:<br>
    </b> 
    <textarea name="Review" id="reviewcontent" cols="100" rows="10"></textarea>
  </p>
  <input type="submit" name="submit" value="Submit">
</form>
<p>&nbsp;</p>
</body>
</html>